%h2
  %em.fa.fa-tag
  = title params[:id]

%aside
  %h1
    %em.fa.fa-link
    = t '.links'

  %ul.fa-ul
    %li
      = link_to tags_path, class: :back do
        %em.fa.fa-li.fa-arrow-left
        = Event.human_attribute_name :tags
    %li
      = link_to events_path tag: params[:id] do
        %em.fa.fa-li.fa-calendar
        Agenda
    %li
      = link_to events_path format: :rss, tag: params[:id] do
        %em.fa.fa-li.fa-rss
        RSS
    %li
      = link_to events_path format: :ics, tag: params[:id] do
        %em.fa.fa-li.fa-th-list
        iCal
    %li
      = link_to maps_path tag: params[:id] do
        %em.fa.fa-li.fa-map-marker
        OpenStreetMap
    %li
      = link_to maps_path format: :json, tag: params[:id] do
        %em.fa.fa-li.fa-dot-circle-o
        GeoJSON

- if @events_future.any? || @events_past.any?
  - if @events_future.any?
    %h3
      %em.fa.fa-forward
      = t '.future'
    %ul.fa-ul
      - @events_future.order('start_time asc').each do |event|
        %li
          = link_to event do
            - if event.locality?
              %em.locality.fa-li.fa.fa-globe
            - else
              %em.locality.fa-li.fa.fa-shield
            %em.city= event.city
            = event.title
          .date= display_date event

  - if @events_past.any?
    %h3
      %em.fa.fa-backward
      = t '.past'
    %ul.fa-ul
      - @events_past.order('start_time desc').each do |event|
        %li
          = link_to event do
            - if event.locality?
              %em.locality.fa-li.fa.fa-globe
            - else
              %em.locality.fa-li.fa.fa-shield
            %em.city= event.city
            = event.title
          .date= display_date event
