@import font-awesome-sprockets
@import font-awesome

.events form, .moderations form, .orgas, .digests form, .pages form
  .field, .actions
    max-width: 70em
    text-align: left
    margin-left: auto
    margin-right: auto
    .helper
      color: gray
      font-style: italic
      p
        margin: 0
        margin-left: 8em
        padding-left: 0.4em
    label
      width: 8em
      display: inline-block
    input, select
      border-top-left-radius: 0
      border-bottom-left-radius: 0
    input[type=radio] + label
      width: 20em
      &:after
        content: ''

    input[type=text], input[type=url], input[type=email], .mce-tinymce
      min-width: 22em

    .mce-tinymce
      display: inline-block
      font-size: inherit
      font-family: inherit
      border-radius: 0.4em
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      .mce-container-body
        .mce-panel.mce-first
          border-top-right-radius: 0.4em
        .mce-panel.mce-last
          border-bottom-right-radius: 0.4em

  .field label:before, th:before, th a:before
    color: gray
    margin-right: 0.4em
    +fa-icon()
  .field.title label:before
    content: $fa-var-newspaper-o
  .field.start_time label:before
    content: $fa-var-toggle-on
  .field.end_time label:before
    content: $fa-var-toggle-off
  .field.repeat label:before
    content: $fa-var-repeat
  .field.rule > label:before
    content: $fa-var-calculator
  .field.description label:before
    content: $fa-var-pencil-square-o
  .field.place_name label:before
    content: $fa-var-map-pin
  .field.address label:before
    content: $fa-var-map-marker
  .field.city label:before, th.city a:before
    content: $fa-var-building-o
  .field.department label:before, th.department a:before
    content: $fa-var-puzzle-piece
  .field.region label:before, th.region a:before
    content: $fa-var-shield
  .field.locality > label:before
    content: $fa-var-expand
  .field.contact label:before
    content: $fa-var-envelope
  .field.submitter label:before
    content: $fa-var-envelope-o
  .field.url label:before, th.url:before
    content: $fa-var-external-link
  .field.diaspora label:before, th.diaspora:before
    content: $fa-var-bullhorn
  .field.tags label:before, th.tags a:before
    content: $fa-var-tags
  .field.active label:before
    content: $fa-var-heartbeat
  .field.reason label:before
    content: $fa-var-comment

  .field.kind > label:before, th.kind:before
    content: $fa-var-cubes
  .field.feed label:before, th.feed:before
    content: $fa-var-rss

  .field.future label:before
    content: $fa-var-backward
  .field.period_year label:before
    content: $fa-var-fast-backward
  .field.period_week label:before
    content: $fa-var-step-backward
  .field.near_location label:before
    content: $fa-var-dot-circle-o
  .field.near_distance label:before
    content: $fa-var-arrows-h
  .field.iframe label:before
    content: $fa-var-arrows-alt

  .field .radios label
    width: auto !important
    margin-right: 1em

  [type=radio]
    display: none
  [type=radio] + label:before
    color: black
    content: $fa-var-circle-o
    font-size: larger
  [type=radio]:checked + label:before
    color: black
    content: $fa-var-dot-circle-o
    text-shadow: 0 0 1px gray

  .actions
    text-align: center
    input
      font-size: x-large
