@media all and (min-width: 1600px)
  body
    font-size: larger

  aside#orga-list
    width: auto

  #advises
    max-width: 60em

@media all and (max-width: 1024px)
  body.events.index table
    width: 100%

  form#orga_search
    right: 0
  .links, a#banner
    margin: 0.6em auto

  table, table.list, table.dates, table.list.dates
    border-spacing: 1px
    tbody th
      overflow: hidden
      max-width: 3em

@media all and (max-width: 900px)
  header.top
    img.logo
      margin-left: 0
    ul.countries
      margin-right: 0

  body
    border: none
    margin: 0
    header.top h1
      margin-top: 0
    main ul
      margin-left: 0

  form#orga_search
    font-size: smaller

/* For small screen width */
@media all and (max-width: 34em)
  body
    padding: 0
  p
    padding-left: 0.4em
    padding-right: 0.4em

  header.top
    ul.countries
      display: none
    h1
      letter-spacing: initial
    h2
      font-size: initial

  form#orga_search
    display: none

  body.index
    table thead
      display: none
    &.events table tr td
      clear: both
      width: auto
      height: auto
      margin: 1px
      display: block
      font-size: larger
      min-height: 1em
      border-width: 1px !important
      &.prev-month, &.next-month, &.current-month.past
        display: none
      .day_number
        font-size: initial
      .event a
        padding: 0.4em 1em
    header
      &:active, &:hover
        & + table tr td.current-month.past
          display: block

    &.versions, &.orgas
      table tbody
        tr td
          width: auto
          padding: 0 0.2em
          display: block
          &:first-child
            float: left
        td + td + td
          display: inline-block
        td:first-child + td
          width: 100%
          display: block

  dl
    dt
      min-width: auto
      text-align: left
    dd, dd.quantity
      padding-right: 1em

  aside
    display: none

  .links, a#banner
    float: none
    padding: 0.4em 0

  .events, .moderations
    h2 + p, #advises, .helper
      display: none
    form
      .field, .actions
        max-width: 100%
        .helper p
          margin-left: 0
          padding-left: 0
        label
          width: auto
          display: block
          text-align: left
          margin-left: 0
        input, .mce-tinymce
          width: 100%
          border-bottom-left-radius: 0.4em
